/*********************/
/******* GLOBAL ******/
/*********************/

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111;
  color: #f1ecf8;
  /*overflow: hidden;*/
}

code {
  font-family: Hack, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section
{
  overflow: hidden!important;
}

.content-card
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.content-card.dark
{
  color: #A770EF;
}

.content-card > .center
{
  align-self: center;
}

.Navigation-Anchor
{
  width: 13px;
  height: 13px;
  box-sizing: border-box;
}

.Navigation-Anchor:hover
{
  transform: scale(1.3)!important;
}

.Navigation-Anchor:nth-child(1)
{
  background-color: rgba(11, 11, 11, 0.5)!important;
}

.Navigation-Anchor:nth-child(2)
{
  background-color: rgba(227, 216, 241, 0.5)!important;
  /*border: 0.5px solid #A770EF;*/
}

.Navigation-Anchor:nth-child(3)
{
  background-color: rgba(240, 93, 94, 0.5)!important;
}

.Navigation-Anchor:nth-child(4)
{
  background-color: rgba(15, 76, 129, 0.5)!important;
}

.Navigation-Anchor:nth-child(5)
{
  background-color: rgba(15, 146, 54, 0.5)!important;
  /*border: 0.5px solid rgb(15, 146, 54);*/
}

.Navigation-Anchor:nth-child(6)
{
  background-color: rgba(253, 185, 155, 0.5)!important;
}

.Navigation-Anchor:nth-child(7)
{
  background-color: rgba(167, 112, 239, 0.5)!important;
}

.heading
{
  font-size: 60px;
  font-family: Hack, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: normal;
  margin: 0px;
  align-self: flex-start;
  position: absolute;
  top: 10px;
}

.heading.dark
{
  color: #A770EF;
}

.heading.gradient
{
  background: -webkit-linear-gradient(90deg, #FDB99B, #F05D5E);
  background: linear-gradient(90deg, #FDB99B, #F05D5E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*********************/
/******* BANNER ******/
/*********************/

@keyframes ghost
{
  0%
  {
    opacity: 0;
  }
  33%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

.banner
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.text-center
{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.hero
{
  margin: 15px;
  font-size: 60px;
  font-family: Hack, Menlo, source-code-pro, Consolas, monospace;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transition: all 1s;
}

.hero .first
{
  display: inline-block;
  background: -webkit-linear-gradient(90deg, #A770EF, #CF8BF3, #FDB99B);
  background: linear-gradient(90deg, #A770EF, #CF8BF3, #FDB99B);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
}

.hero .sur
{
  display: inline-block;
  color: #F05D5E;
  background: -webkit-linear-gradient(90deg, #FDB99B, #F05D5E);
  background: linear-gradient(90deg, #FDB99B, #F05D5E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
  margin-left: 0%;
}

.hero .sur.expand
{
  margin-left: 5%;
}

.desc
{
  font-size: 20px;
}

.arrow-container
{
  display: block;
  opacity: 0;
  margin-top: -60px;
  transition: opacity 5s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 5s cubic-bezier(0.645, 0.045, 0.355, 1); 
}

.arrow-container.active
{
  opacity: 1;
  margin-top: 10%;
  cursor: pointer;
}

.arrow
{
  width: 100px;
  height: 30px;
  /*border: 1px solid white;
  background: rgba(123,45,67,0.5);*/
  background-image: url('/arrow.png');
}

.arrow-container.active .arrow:first-child
{
  animation: 5s ease-in infinite ghost;
}

.arrow-container.active .arrow:last-child
{
  animation: 5s ease-in 0.2s infinite ghost;
}

/*********************/
/******* ABOUT *******/
/*********************/

.about
{
  background: #E3D8F1;
  padding: 20px;
}

.about > .img
{
  width: 200px;
  height: 200px;
  /*border: 2px solid #A770EF;*/
  border-radius: 100%;
  background: #A770EF;
  background-image: url('/me.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 30px 1px rgba(53, 10, 108, 0.2);
}

.about > p.center
{
  width: 60%;
  margin: 100px;
  text-indent: 100px;
  font-size: 22px;
  font-weight: lighter;
}

/*********************/
/******* CODE ********/
/*********************/

.code
{
  background-color: #F05D5E;
  padding: 20px;
}

.code > img
{
  width: auto;
  height: 100%;
}

.code > .textbox
{
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  height: 333px;
  position: absolute;
  right: 110px;
  background: rgba(227, 216, 241, 0.8);
  backdrop-filter: blur(15px) brightness(150%);
  border-radius: 9px;
  color: #F05D5E;
  padding: 30px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: lighter;
}

.code > .textbox > h2
{
  font-weight: normal;
}

/*********************/
/****** DESIGN *******/
/*********************/

.design
{
  background: #004b82;
  padding: 20px;
}

.design .heading
{
  color: #004b82;
}

.design > img
{
  width: auto;
  height: 100%;
}

.design > .textbox
{
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  height: 333px;
  position: absolute;
  right: 110px;
  background: rgba(227, 216, 241, 0.8);
  backdrop-filter: blur(15px) brightness(150%);
  border-radius: 9px;
  color: #004b82;
  padding: 30px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: lighter;
}

.design > .textbox > h2
{
  font-weight: normal;
}

/*********************/
/******* HACK ********/
/*********************/

.hack
{
  background: #0f9236;
  padding: 20px;
}

.hack .heading
{
  color: #0f9236;
}

.hack > img
{
  width: auto;
  height: 100%;
}

.hack > .textbox
{
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  height: 333px;
  position: absolute;
  right: 110px;
  background: rgba(227, 216, 241, 0.8);
  backdrop-filter: blur(15px) brightness(150%);
  border-radius: 9px;
  color: #0f9236;
  padding: 30px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: lighter;
}

.hack > .textbox > h2
{
  font-weight: normal;
}

/*********************/
/****** SKILLS *******/
/*********************/

.skills
{
  justify-content: center;
  background: #FDB99B;
  padding: 20px;
  color: #F05D5E;
}

.skills .textbox
{
  align-self: center;
  font-size: 22px;
  font-weight: lighter;
  border: 0.5px solid #F05D5E;
  border-radius: 9px;
  padding: 20px;
}

.skills span
{
  font-weight: normal;
}


/*********************/
/****** CONTACT ******/
/*********************/

.contact
{
  justify-content: center;
  background: #A770EF;
  padding: 20px;
}

.contact > .textbox
{
  align-self: center;
  font-size: 22px;
  font-weight: lighter;
}

.contact > .links
{
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contact > .links > a
{
  width: 50px;
  height: 50px;
  margin: 50px;
  opacity: 0.8;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.contact > .links > a:hover
{
  opacity: 0.9;
}

.contact > .links > a.fb
{
  background: url('/fb.png');
  background-size: contain;
}

.contact > .links > a.mail
{
  background: url('/mail.png');
  background-size: contain;
}